<a href="https://colab.research.google.com/github/cruzdoscar/proyecto_s8/blob/main/analisis_sintatico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# Obengo el html
url = 'https://practicum-content.s3.us-west-1.amazonaws.com/data-analyst-eng/moved_chicago_weather_2017.html'
req = requests.get(url).text

# Creo el objeto soup para poder manipular los datos
soup = BeautifulSoup(req, 'lxml')

In [3]:
# Identifico y extraigo la tabla de la pag web
table = soup.find('table', attrs = {'id': 'weather_records'})

In [4]:
# Comienzo a crear el DataFrame
# Lista donde se almacenaran todos los nombres de columnas
heading_table = []

# Iterar sobre cada fila de la tabla para extraer unicamente los nombres de las columnas
for row in table.find_all('th'):
    heading_table.append(row.text)

In [5]:
# Lista donde se almacenarán los datos de la tabla
content = []

# Iterar cada fila para extraer todos los registros (filas) de la tabla
# Cada fila está envuelta en una etiqueta <tr>
for row in table.find_all('tr'):
# Esta condicion ignora la primera fila, los encabezados
    if not row.find_all('th'):
# Dentro de cada fila, el contenido de la celda está envuelto en etiquetas <td> </td>
# Necesitamos recorrer todos los elementos <td>, extraer el contenido de las celdas y agregarlo a la lista
# Luego agregamos cada una de las listas a la lista de contenido
        content.append([element.text for element in row.find_all('td')])

In [7]:
# paso la lista de contenido como datos y heading_table como encabezados
weather_records = pd.DataFrame(content, columns = heading_table)

print(weather_records.head())

         Date and time Temperature       Description
0  2017-11-01 00:00:00     276.150     broken clouds
1  2017-11-01 01:00:00     275.700  scattered clouds
2  2017-11-01 02:00:00     275.610   overcast clouds
3  2017-11-01 03:00:00     275.350     broken clouds
4  2017-11-01 04:00:00     275.240     broken clouds